@import 'index.scss';

.j-tooltip {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 1;

    &__text {
        @extend .hf-border-fat;
        position: absolute;
        display: none;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        background-color: $hf-color-white;
        border-radius: $hf-border-radius;
        padding: $hf-padding-middle;
    }

    &:hover
    .j-tooltip__text {
        display: block;
    }
}
