@import 'index.scss';

.company-logo {
    display: block;
    width: 100px;
    height: 92px;
    background-image: url(../../assets/img/company-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
