.j-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--centered {
        text-align: center;
    }
}

.j-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
