@import 'index.scss';

.j-api-form {
    &__inner {
        padding: $hf-padding-big;
        border: $hf-border;
        border-radius: $hf-border-radius;
        background-color: $hf-color-white;
    }
    &__section {
        border-bottom: $hf-border;

        &-title {
            font-size: $hf-font-size-medium;
            font-weight: $hf-font-weight;
            line-height: $hf-line-medium;
        }
    }
}
