@import 'index.scss';

$col-width: 500px;
$radio-width: 125px;

.j-api-form {
    &__inner {
        padding-left: $hf-padding-big;
        padding-right: $hf-padding-big;
        border: $hf-border;
        border-radius: $hf-border-radius;
        background-color: $hf-color-white;
    }
    &__section {
        border-bottom: $hf-border;
        padding-top: $hf-padding-big;
        padding-bottom: $hf-padding-big;

        &-title {
            font-size: $hf-font-size-medium;
            font-weight: $hf-font-weight;
            line-height: $hf-line-medium;
            padding-bottom: $hf-gutter;
        }
    }

    .j-row__item {
        max-width: $col-width;
    }

    &__radio {
        display: flex;
        max-width: $radio-width;

        &-row {
            display: flex;
        }
    }

    &__row {
        padding-top: $hf-gutter;
        padding-bottom: $hf-gutter;
    }
}
