@import 'index.scss';

$col-width: 500px;
$radio-width: 125px;

.j-api-form {
    &__inner {
        padding-left: $hf-padding-big;
        padding-right: $hf-padding-big;
        border: $hf-border;
        border-radius: $hf-border-radius;
        background-color: $hf-color-white;

        &--overflowed {
            overflow: hidden;
        }

        & + .j-api-form__inner {
            margin-top: $hf-padding-big;
        }
    }
    &__section {
        border-bottom: $hf-border;
        padding-top: $hf-padding-big;
        padding-bottom: $hf-padding-big;

        &:last-child {
            border-bottom: none;
        }

        &-title {
            font-size: $hf-font-size-medium;
            font-weight: $hf-font-weight;
            line-height: $hf-line-height-medium;
            padding-bottom: $hf-gutter;
        }
    }

    .j-row__item {
        max-width: $col-width;
    }

    &__radio {
        display: flex;
        max-width: $radio-width;

        &-wrap {
            height: $hf-height-input;
            align-items: center;
        }

        &-row {
            display: flex;
        }
    }

    &__row {
        padding-top: $hf-gutter;
        padding-bottom: $hf-gutter;

        &--button-row {
            padding-top: $hf-padding-big;
            padding-bottom: $hf-padding-big;
        }
    }
    &__tab {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &--visible {
            position: relative;
            opacity: 1;
            z-index: 1;
        }

        &s {
            position: relative;
        }
    }
}
