@import 'index.scss';

$pages-height: $hf-height-header + $hf-height-footer;

.j-pages {
    min-height: calc(100vh - #{$pages-height});
    width: 100%;
    max-width: $hf-width-container;
    margin-left: auto;
    margin-right: auto;
}
