@import 'index.scss';

.j-table {
    width: 100%;
    text-align: left;

    // &__tfoot {
    //     height: 70px;
    //     border: $hf-border;
    //     border-top: none;

    //     &--tr {
    //         background-color: $hf-color-white;
    //     }
    // }

    &__tbody {
        border: $hf-border;
        background-color: $hf-color-white;
        padding-left: $hf-padding-big;
        padding-right: $hf-padding-big;
    }

    &__row {
        border-bottom: $hf-border;
        display: grid;
        grid-template-columns: 35% 25% 25% 5% 10%;

        &:last-child {
            border-bottom: none;
        }
    }

    &__td {
        font-size: $hf-font-size-base;
        padding-top: $hf-padding-cell;
        padding-bottom: $hf-padding-cell;
        align-self: center;
        text-overflow: ellipsis;
        overflow: hidden;

        &--name {
            font-weight: $hf-font-weight-bold;
            font-size: $hf-font-size-medium;
        }
    }

    &__controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $hf-gutter;

        &-item {
            justify-self: center;
        }
    }

    // &__th {
    //     padding-top: $hf-padding-cell;
    //     padding-bottom: $hf-padding-cell;
    //     color: $hf-color-gray-medium;
    //     font-weight: $hf-font-weight-bold;

    //     &:first-child {
    //         padding-left: $hf-padding-big;
    //     }
    // }

    // &__td {
    //     vertical-align: middle;
    //     border-bottom: $hf-border;
    //     padding-top: $hf-padding-cell;
    //     padding-bottom: $hf-padding-cell;

    //     &:first-child {
    //         font-weight: $hf-font-weight-bold;
    //         padding-left: $hf-padding-big;
    //     }

    //     &:last-child {
    //         padding-right: $hf-padding-big;
    //     }
    // }
}
