@import 'index.scss';

$icon-width: 8px;
$icon-height: 14px;

.j-table {
    width: 100%;
    text-align: left;

    &__tbody,
    &__head {
        padding-left: $hf-padding-big;
        padding-right: $hf-padding-big;
    }
    &__tbody {
        border: $hf-border;
        background-color: $hf-color-white;
    }

    &__row {
        border-bottom: $hf-border;
        display: grid;
        grid-template-columns: 35% 25% 25% 5% 10%;

        &:last-child {
            border-bottom: none;
        }
    }

    &__td,
    &__th {
        &--active {
            display: flex;
            justify-content: center;
        }
    }
    &__th {
        padding-top: $hf-padding-main;
        padding-bottom: $hf-padding-main;
        color: $hf-color-gray-medium;
    }
    &__td {
        padding-top: $hf-padding-cell;
        padding-bottom: $hf-padding-cell;
        font-size: $hf-font-size-base;
        align-self: center;
        text-overflow: ellipsis;
        overflow: hidden;

        &--name {
            font-weight: $hf-font-weight-bold;
            font-size: $hf-font-size-medium;
        }
    }

    &__controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $hf-gutter;

        &-item {
            justify-self: center;
        }
    }
}

.ascending {
    &-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &-icon {
        position: relative;
        width: $icon-width;
        height: $icon-height;
        margin-left: $hf-gutter;

        &:before,
        &:after {
            @include pseudo();
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 ceil($icon-width/2) 5px ceil($icon-width/2);
            border-color: transparent transparent $hf-color-gray-medium transparent;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
            transform: rotate(180deg);
        }
    }
}
