@import 'index.scss';

$logo-width: 100px;
$logo-height: 92px;
$form-padding-top: 70px;

.login-form {
    position: absolute;
    box-sizing: border-box;
    @include alignCenter();

    .j-section {
        background-color: $hf-color-white;
        border: $hf-border;
        border-radius: $hf-border-radius;
    }

    .j-input {
        width: 300px;
        margin-bottom: $hf-padding-row;
    }

    & > div:first-of-type {
        padding: $form-padding-top $hf-padding-big $hf-padding-big;
    }

    &--error {
        border-color: $hf-color-red;

        .j-input {
            border-color: $hf-color-red;
        }
    }

    &__logo {
        position: absolute;
        width: $logo-width;
        height: $logo-height;
        top: 0;
        margin-top: -$logo-height/2;
        @include alignCenterX($logo-width);
    }

    &__greeting {
        text-align: center;
    }

    &__button {
        padding-left: $hf-padding-big;
        padding-right: $hf-padding-big;

        &-section {
            display: flex;
            justify-content: center;
        }
    }

    &__login-section + &__oauth-section {
        margin-top: $hf-padding-row;
    }

    &__error-message {
        color: $hf-color-red;
        font-size: $hf-font-size-small;
        margin-bottom: $hf-padding-row;
        display: inline-block;
    }
}
