.Select--multi {
    .Select-multi-value-wrapper {
        margin-bottom: 5px;
    }

    .Select-value {
        background-color: $hellofresh-color;
        border: none;
        border-radius: $hf-border-radius;
        margin-top: ceil($hf-gutter/2);
        color: $hf-color-white;

        &-icon {
            color: rgba(255, 255, 255, 0.7);
            float: right;

            &:focus, &:hover {
                color: $hf-color-white;
            }
        }

        &-icon, &-label {
            font-size: $hf-font-size-base;
            line-height: $hf-line-height;
            padding: 2px 5px;
        }
    }

    .Select-input {
        height: 32px;
    }
}
