@import 'index.scss';

.j-nav {
    display: flex;
    height: $hf-height-header;
    max-width: $hf-width-container;
    margin: 0 auto;

    &__item {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 $hf-padding-middle;
        color: $hf-color-white;
        text-decoration: none;

        &--active {
            background-color: $hf-color-white-pale;
        }
    }
}
