@import 'index.scss';
$control-size: 20px;
$red-scarlet: #d0011b;

$urls: (
    edit: url(../../assets/img/edit.svg),
    view: url(../../assets/img/eye.svg),
    github: url(../../assets/img/github-icon.svg),
    checked: url(../../assets/img/checked.svg),
    delete: url(../../assets/img/delete.svg),
    delete-white: url(../../assets/img/delete-white.svg),
    close: url(../../assets/img/close.svg),
    copy: url(../../assets/img/copy.svg),
    copy-white: url(../../assets/img/copy-white.svg),
    correct: url(../../assets/img/correct.svg),
    add: url(../../assets/img/plus.svg),
    successful-white: url(../../assets/img/successful-white.svg),
);

.j-icon {
    display: block;
    width: $control-size;
    height: $control-size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;

    &--type-remove {
        height: ceil($control-size/10);
        background-color: $red-scarlet;
    }
}

@each $type, $url in $urls {
    .j-icon--type-#{$type} {
        background-image: $url;
    }
}
