@import 'variables.scss';

.j-confirmation {
    &-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        top: 0px;
        left: 0px;
        opacity: 1;
        transition: 500ms;
    }

    &-container {
        display: flex;
        flex-direction: column;
        padding: $hf-padding-middle $hf-padding-main;
        justify-content: space-between;
        position: absolute;
        max-width: 700px;
        min-height: 100px;
        width: 90vw;
        border-radius: $hf-border-radius;
        box-shadow: $hf-box-shadow;
        background-color: $hf-color-white;
        z-index: 1;
        @include alignCenter();
    }

    &-close {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: $hf-padding-main;
        right: $hf-padding-main;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
    }

    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
        top: 0px;
        left: 0px;
        z-index: 0;
    }

    &__inner {}
    &__title {
        font-size: $hf-font-size-title;
        line-height: $hf-line-height-title;
        text-align: left;
        color: $hf-color-black;
    }
    &__body {
        padding-top: $hf-padding-big;
        padding-bottom: $hf-padding-big;
    }
    &__text {
        font-size: $hf-font-size-medium;
        line-height: $hf-line-height-medium;
        text-align: left;
        color: $hf-color-gray-medium;
    }

    &__buttons-group {
        justify-content: flex-end;
    }
}
