@import 'index.scss';

$padding: $hf-gutter;

.j-header {
    grid-template-columns: 100px 1fr 100px;
    display: grid;
    padding: 0 $hf-padding-main;
    background-color: $hellofresh-color;
    box-shadow: $hf-box-shadow-header;
    height: $hf-height-header;

    &__col {
        align-self: center;
    }

    &__col {
        align-self: center;
    }

    &__logo {
        display: block;
        width: 100px;
        height: 40px;
        background-image: url(../../../assets/img/janus-logo-white.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__user {
        display: flex;
        height: $hf-height-header;

        &-name {
            position: relative;
            display: flex;
            align-items: center;
            color: $hf-color-white;
            cursor: pointer;

            &:hover {
                .j-header__user-menu {
                    display: block;
                }
            }
        }

        &-menu {
            display: none;
            position: absolute;
            color: $hellofresh-color;
            background-color: $hf-color-white;
            border-radius: $hf-border-radius;
            border: $hf-border;
            padding: $padding $padding*2;
            right: ceil(-$padding);
            top: 100%;
            z-index: 2;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: -9px;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $hf-color-white transparent;
            }
        }
    }
}

