@import 'index.scss';

.j-header {
  grid-template-columns: 1fr $hf-width-container 1fr;
  display: grid;
  padding: 0 $hf-padding-main;
  background-color: $hellofresh-color;
  box-shadow: $hf-box-shadow-header; 

  &__col {
    align-self: center;
  }
}

