@import 'index.scss';
$control-size: 20px;
$red-scarlet: #d0011b;

$urls: (
    edit: url(../../assets/img/edit.svg),
    github: url(../../assets/img/github-icon.svg),
    checked: url(../../assets/img/checked.svg),
    delete: url(../../assets/img/delete.svg),
    delete-white: url(../../assets/img/delete-white.svg),
    close: url(../../assets/img/close.svg),
    copy: url(../../assets/img/copy.svg),
    copy-white: url(../../assets/img/copy-white.svg),
    correct: url(../../assets/img/correct.svg),
    add: url(../../assets/img/plus.svg),
    successful-white: url(../../assets/img/successful-white.svg),
);

.j-icon {
    display: block;
    width: $control-size;
    height: $control-size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;

    &--type-remove {
        height: ceil($control-size/10);
        background-color: $red-scarlet;
    }
}

@each $type, $url in $urls {
    .j-icon--type-#{$type} {
        background-image: $url;
    }
}

.j-tooltiped {
    position: relative;

    &:before {
        position: absolute;
        z-index: 1000001;
        display: none;
        width: 0;
        height: 0;
        color: rgba(27,31,35,0.8);
        pointer-events: none;
        content: '';
        border: 5px solid transparent;
        opacity: 0;
        top: -5px;
        right: 50%;
        bottom: auto;
        margin-right: -5px;
        border-top-color: rgba(27,31,35,0.8);
    }

    &:after {
        right: 50%;
        bottom: 100%;
        margin-bottom: 5px;
        margin-right: -15px;
        position: absolute;
        z-index: 1000000;
        display: none;
        padding: 5px 8px;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #fff;
        text-align: center;
        word-wrap: break-word;
        white-space: pre;
        pointer-events: none;
        content: attr(aria-label);
        background: rgba(27,31,35,0.8);
        border-radius: 3px;
        opacity: 0;
    }
    &:hover {
        &:before,
        &:after {
            display: inline-block;
            text-decoration: none;
            -webkit-animation-name: tooltip-appear;
            animation-name: tooltip-appear;
            -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
    }
}
@keyframes tooltip-appear {
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
