@import 'index.scss';

.j-button {
  align-items: center;
  border-radius: $hf-border-radius-button;
  white-space: nowrap;
  line-height: 1.5;
  font-size: $hf-font-size-base;
  padding: $hf-padding-button;
  user-select: none;
  cursor: pointer;

  &--primary {
    border-color: transparent;
    color: $hf-color-white;
    background-color: $hf-color-button-primary;
  }
}


