@import 'index.scss';

.j-button {
    align-items: center;
    border-radius: $hf-border-radius-button;
    white-space: nowrap;
    line-height: 1.5;
    font-size: $hf-font-size-base;
    padding: $hf-padding-button;
    user-select: none;
    cursor: pointer;

    &--primary,
    &--danger {
        border-color: transparent;
        color: $hf-color-white;

        a {
            color: $hf-color-white;
        }
    }

    &--primary {
        background-color: $hf-color-button-primary;
    }

    &--danger {
        background-color: $hf-color-button-danger;
    }
}


