@import 'index.scss';

$paginator-width: 8px;
$paginator-height: 13px;
$paginator-border: 1px solid #e1e4e8;
$paginator-background-color: $hf-color-white;
$paginator-color: $hf-color-gray-medium;
$paginator-font-size: $hf-font-size-base;
$paginator-font-weight: $hf-font-weight-bold;

.j-pagination {
    &__nav {
        padding-top: $hf-padding-main;
        padding-bottom: $hf-padding-main;
        text-align: center;

        &-item {
            display: inline-block;
            vertical-align: top;
            background-color: $paginator-background-color;
            border: $paginator-border;
            font-size: $paginator-font-size;
            font-weight: $paginator-weight;
            text-align: center;
            color: $paginator-color;
            padding: 7px 12px;
            box-sizing: border-box;
            transition: background-color 0.05s, color 0.05s, border-color 0.05s;
            cursor: pointer;

            &--disabled {
                opacity: 0.5;
            }

            &--active {
                background-color: $hellofresh-color;
                border-color: $hellofresh-color;
                color: $paginator-background-color;
            }

            &--prev,
            &--next {
                position: relative;
                width: 20px;
                height: 30px;
                border: none;
                background: none;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: $paginator-width;
                    height: $paginator-height;
                    @include alignCenter();
                }
            }

            &--prev {
                &:before {
                    background-image: url(../../assets/img/small-arrow.svg);
                }
            }

            &--next {
                &:before {
                    background-image: url(../../assets/img/small-arrow-next.svg);
                }
            }
        }
    }
}
