@import 'index.scss';

$paginator-width: 8px;
$paginator-height: 13px;
$paginator-border: 1px solid #e1e4e8;
$paginator-background-color: $hf-color-white;
$paginator-color: $hellofresh-color;
$paginator-font-size: $hf-font-size-base;
$paginator-font-weight: $hf-font-weight-bold;
$paginator-padding: 7px 12px;
$break-grey: $hellofresh-muted-color;

.j-pagination {
    &__nav {
        padding-top: $hf-padding-main;
        padding-bottom: $hf-padding-main;
        text-align: center;

        &-item {
            display: inline-block;
            vertical-align: top;
            background-color: $paginator-background-color;
            border: $paginator-border;
            font-size: $paginator-font-size;
            font-weight: $paginator-font-weight;
            text-align: center;
            color: $paginator-color;
            padding: $paginator-padding;
            box-sizing: border-box;
            transition: background-color 0.05s, color 0.05s, border-color 0.05s;
            cursor: pointer;

            &:not(:last-child) {
                border-right: none;
            }

            &--disabled {
                opacity: 0.5;
                color: $hf-color-gray-medium;
            }

            &--active {
                background-color: $hellofresh-color;
                border-color: $hellofresh-color;
                color: $paginator-background-color;

                + .j-pagination__nav-item {
                    border-left-color: $hellofresh-color;
                }
            }

            &--prev,
            &--next {
                position: relative;
                background: none;
                border: none;
                padding: 0;

                &:before {
                    display: block;
                    position: absolute;
                    position: relative;
                    padding: $paginator-padding;
                    border: $paginator-border;
                    background-color: $paginator-background-color;
                    left: 0;
                    top: 0;
                }
            }

            &--prev {
                &:before {
                    content: 'Previous';
                    border-right: none;
                }
            }
            &--next {
                &:before {
                    content: 'Next';
                }
            }
        }
    }

    &__break {
        display: inline-block;
        padding: $paginator-padding;
        color: $break-grey;
        border-left: $paginator-border;
    }
}
