var MAIN_CONFIG = {
    gateway: {
        admin_url: '${REACT_APP_JANUS_URI}',
    },
    oauth: {
        github: {
            authorize_url: '${REACT_APP_GITHUB_AUTHORIZE_URL}',
            client_id: '${REACT_APP_GITHUB_CLIENT_ID}',
            scope: '${REACT_APP_GITHUB_SCOPE}',
            token_url: '${REACT_APP_GITHUB_TOKEN_URL}',
        },
    },
    ui: {
        disable_basic_auth: '${REACT_APP_DISABLE_BASIC_AUTH}',
        disable_github_auth: '${REACT_APP_DISABLE_GITHUB_AUTH}',
    }
};
