var MAIN_CONFIG = {
    gateway: {
        client_id: '${REACT_APP_CLIENT_ID}',
        scope: '${REACT_APP_SCOPE}',
        github_token_url: '${REACT_APP_GITHUB_TOKEN_URL}',
        janus_token_url: '${REACT_APP_JANUS_TOKEN_URL}',
        github_authorize_url: '${REACT_APP_GITHUB_AUTHORIZE_URL}',
        uri: '${REACT_APP_JANUS_URI}',
    },
};
