@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'layout.scss';
@import 'styles/modal.scss';
@import 'styles/row.scss';
@import 'styles/grid.scss';
@import 'styles/input.scss';
@import 'styles/selects.scss';
@import 'styles/tooltips.scss';

body {
    font-family: $hf-font-family-sans-serif;
    background-color: $hf-color-bg;
}

a {
    color: $hellofresh-color;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.error-message {
    color: $hf-color-red;
}
