@mixin alignCenter($width, $height) {
  width: $width;
  height: $height;
  margin-top: -$height/2;
  margin-left: -$width/2;
  top: 50%;
  left: 50%;
}

@mixin alignCenterX($width) {
  width: $width;
  margin-left: -$width/2;
  left: 50%;
}
