/* Colors */
$hellofresh-color: #90c200;
$hellofresh-muted-color: #d8d8d8;
$hellofresh-highlight: rgba(254, 254, 254, 0.15);
$hf-color-bg: rgba(250, 250, 250, 1);
$hf-color-white: #fff;
$hf-color-black: #000;
$hf-color-gray-medium: #7f7f7f;
$hf-color-gray-pale: #f5f5f5;
$hf-color-white-pale: rgba(255, 255, 255, 0.15); 

/* Shadows */
$hf-box-shadow-header: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

/* Fonts */
$hf-font-family-sans-serif: 'roboto', sans-serif;
$hf-font-size-base: 14px;
$hf-font-size-small: 12px;

/* Sizes */
$hf-gutter: 10px;
$hf-width-container: 1140px;
$hf-height-input: 36px;
$hf-padding-main: $hf-gutter*2;
$hf-padding-middle: 15px;
$hf-padding-small: $hf-gutter/2;
$hf-height-header: 50px;

$hf-border-radius: 4px;
$hf-border: solid 1px $hellofresh-muted-color;

$hf-padding-input: $hf-padding-small $hf-gutter;
$hf-padding-button: $hf-padding-small $hf-padding-middle;
$hf-padding-footer: $hf-padding-middle*2;
$hf-color-button-primary: $hellofresh-color;
$hf-border-radius-button: $hf-border-radius;


/* Extends */
.hf-border-fat {
  border: solid 2px $hellofresh-muted-color;
}

.hf-input-border {
  border: $hf-border;
  border-radius: $hf-border-radius;
}

