$control-size: 20px;

$urls: (
  edit: url(../../assets/img/edit.svg),
  checked: url(../../assets/img/checked.svg),
  delete: url(../../assets/img/delete.svg),
  copy: url(../../assets/img/copy.svg),
);

.j-control {
  display: inline-block;
  width: $control-size;
  height: $control-size;
  background-repeat: no-repeat;
}

@each $type, $url in $urls {
  .j-control--type-#{$type} {
    background-image: $url;
  }
}
