@import 'index.scss';

.j-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $hf-height-footer;
    border-top: $hf-border;

    &__inner {
        line-height: $hf-line-height;
    }
}
